
 /* -----------------  COMUNES  */
 

 body {
	 margin: 0;
	 padding: 0;
	 font-size: 13px;
	 font-family: Arial, Helvetica, sans-serif;
	 color: #222222;
	}
	
a{
	text-decoration: none;
}
	

/* -----------------  COMUNES  */


/* -----------------  HEADER  */


header {
	width: 100%;
	height: 60px;
	/* border: 1px solid blue; */
}
header nav {
	height: 100%;
	/* display: flex;
	justify-content: space-between; */
}
nav .nav-contenedor {
	margin:0;
	padding: 0 10px 0 30px;
	display: grid;
	grid-template-columns: auto 1fr auto auto auto auto;
	align-items: center;
	height: inherit;
}

nav .nav-contenedor li{
	/* border: 1px solid red; */
	list-style: none;
	padding-right: 15px;
}
nav .nav-contenedor a{
	color: rgba(0,0,0,0.87);
}
nav .nav-contenedor a:hover{
	opacity: 0.85;
	text-decoration: underline;
}

nav .nav-icono {
	display: block;
	width: 16px;
	height: 16px;
	background: transparent url(../imagenes/google-sprite.png);
	background-position: -139px -45px;
	opacity: 0.55;
}

nav .nav-icono:hover {
	opacity: 1;
}

nav .nav-foto img {
	border-radius: 50%;
}



/* -----------------  HEADER  */


/* -----------------  MAIN  */

main {
	text-align: center;
}
main section {
	width: 484px;
	margin: 0 auto;
}
main .main-logo {
	margin-top: 110px;
}
.main-logo img {
	height: 92px;
}




/* -----------------  MAIN  */