
 /* -----------------  COMUNES  */
 

 body {
	 margin: 0;
	 padding: 0;
	 font-size: 13px;
	 font-family: Arial, Helvetica, sans-serif;
	 color: #222222;
	}
	
a{
	text-decoration: none;
}
	

/* -----------------  COMUNES  */


/* -----------------  HEADER  */


header {
	width: 100%;
	height: 60px;
	/* border: 1px solid blue; */
}
header nav {
	height: 100%;
	/* display: flex;
	justify-content: space-between; */
}
nav .nav-contenedor {
	margin:0;
	padding: 0 10px 0 30px;
	display: grid;
	grid-template-columns: auto 1fr auto auto auto auto;
	align-items: center;
	height: inherit;
}

nav .nav-contenedor li{
	/* border: 1px solid red; */
	list-style: none;
	padding-right: 15px;
}
nav .nav-contenedor a{
	color: rgba(0,0,0,0.87);
}
nav .nav-contenedor a:hover{
	opacity: 0.85;
	text-decoration: underline;
}

nav .nav-icono {
	display: block;
	width: 16px;
	height: 16px;
	background: transparent url(../imagenes/google-sprite-crojasf.png);
	background-position: -139px -45px;
	opacity: 0.55;
}

nav .nav-icono:hover {
	opacity: 1;
}

nav .nav-foto img {
	border-radius: 50%;
}



/* -----------------  HEADER  */


/* -----------------  MAIN  */

main {
	text-align: center;
}
main section {
	width: 484px;
	margin: 0 auto;
	margin-top: 30px;
}



main .main-logo {
	margin-top: 110px;
}
.main-logo img {
	height: 92px;
}






main .main-input {
	height: 50px;
}

main .main-input-container {
	border: 1px solid #dfe1e5;
	border-radius: 25px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}

main .main-input-container:hover{
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.28);
}


.main-input .search-icon {
	display: block;
	/* width: 15px; */
	padding-left: 15px;
	height: 15px;
	background: transparent url(../imagenes/google-sprite-crojasf.png);
	background-position: -252px -38px;
	opacity: 0.33;
	box-sizing: border-box;
	font-size: 16px;
}

.main-input input {
	border: 0;
	width: 100%;
	padding: 0 15px;
	height: 60%;
	font-size: 16px;
	box-sizing: border-box;
}


.main-input .micro-icon {
	display: block;
	/* width: 20px; */
	padding-left: 20px;
	height: 20px;
	background: transparent url(../imagenes/google-sprite-crojasf.png);
	background-position: -168px -43px;
	opacity: 1;
	box-sizing: border-box;
	font-size: 16px;
}



main .main-buttons {
	display: flex;
	justify-content: center;
}

.main-buttons div {
	padding: 0 5px;
}

.main-buttons button {
	border: 0;
	background-color: #efefef;
	border: 1px solid #efefef;
	border-radius: 5px;
	padding: 10px 20px;
	opacity: 0.75;
	font-size: 14px;
}


.main-buttons button:hover{
	opacity: 1;
	border: 1px solid #c6c6c6;
}


main .main-links {
}

.main-links .main-links-random {
	margin-bottom: 40px;
}

main .main-links a {
	color: #1a0dab;
}

main .main-links a:hover {
	color: #1a0dab;
}

.main-links a:hover {
	text-decoration: underline;
}
.main-links-languages span {
	padding: 0 3px;
}


/* -----------------  MAIN  */